/*font-family: 'Abel', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/
body {
	background-color: #f0f0f0;
}
#company-logo {
	font-family: 'Abel', sans-serif;
}
#heading-nav a{
	font-family: 'Abel', sans-serif;
	color: black;
	text-align: center;
}
#main-header{
	font-family: 'anton', sans-serif;
text-align: center;
}
#circles-main h5 {
	color: white;
	width: 105px;
	height: 105px;
	border: 7px solid white;
	border-radius: 50%;
	padding: 40% 0;
	/*vertical-align: middle;*/
	font-family: 'anton', sans-serif;
	/*display: table;*/
	/*margin: 0 5px;*/
}
#design-button{
	background-color: #E6563B;
}
#develop-button{
	background-color: #EB9D3A;
}
#support-button{
	background-color: #7CB06C;
}
#host-button{
	background-color: #00ABA9;
}

.project-image {
	background-color: #e6e6e6;
}
p {
	font-family: 'Abel', sans-serif;
}


#tiny-circles h6 {
	position: relative;
	bottom: 10px;
	width: 18px;
	height: 18px;
	font-size: 50%;
	border-radius: 50%;
	font-family: 'anton', sans-serif;
	padding: 5px;
}
#main-logo-sm {
	border-radius: 50%;
	position: relative;
	bottom: 25px;
	height: 105px;
	width: 105px;
	margin: 25px auto;
}
#main-logo-md {
	border-radius: 50%;
	position: relative;
	bottom: 90px;
	height: 105px;
	width: 105px;
	margin: 25px auto;
}
.logo-container {
	background-color: white;
	height: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.image-container {
	margin: auto;
}